.Reset-Password-auth-form-container{
    margin-top: 10%;
    margin-right: 35%;
    margin-left:35%;
    padding-top: 3%;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 5%;
    background-color: white;
    outline: auto;
}
.Reset-Password-form{
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.password-input{
    padding-bottom: 5%;
}

.Reset-Password-form-actions{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}