
article {
  margin: 0px;
  padding: 0px;
}

article h1{
  margin: 20px 40px;
  font-size: 38px;
}

#admin-box {
  padding: 20px 30px;
  margin: 30px 40px;
  background-color: rgba(16, 127, 134, 0.45);
  border-radius: 20px;
  min-height: 800px;
}

#admin-box input{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #F4F4F4;
  width: 30%;
}

#admin-box table{
  margin-top: 20px;
  background-color: #FFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  padding: 0px;
  border-spacing: 0px;
}

#admin-box th{
  padding: 10px;
}

#admin-box tr:nth-child(even){
  background-color: #EDECEC;
}

#admin-box tr:hover {
  background-color: #ddd;
}

#admin-box td{
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

#admin-box button{
  border: None;
  font-weight: bold; 
}
